<!DOCTYPE html>
<html>
<head>
	<title>File Upload center</title>
	<link rel="stylesheet" type="text/css" href="first.css">
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="jquery-3.5.1.js">
	<link rel="stylesheet" type="text/css" href="bootstrap.min.js">
</head>

<body>

	<form method="post" action="/add_file" enctype="multipart/form-data">

		<!-- <h2>File sharing portal</h2>
		<label>Sender:</label>
		<br>
		<input type="text" name="sender_name">
		<br>

		<label>Receiver:</label>
		<br>
		<input type="text" name="receiver_name">
		<br>

		<input type="file" name="file" autocomplete="off" required>

		<input type="submit" value="Submit"> -->

		<h3>File sharing portal</h3>
		<br>

		<div class="form-group">
		    <label>Sender:</label>
		    <input type="text" name="sender_name" class="form-control" placeholder="sender">
		</div>
		
		<div class="form-group">
		    <label>Receiver:</label>
		    <input type="text" name="receiver_name"class="form-control" placeholder="receiver">
		</div>
		  
		<div class="form-group">
		    <label>File input:</label>
		    <input type="file" name="file" autocomplete="off" required>
		    <p class="help-block">Please choose a file to upload.</p>
		</div>

  		<button type="submit" class="btn btn-default">Submit</button>

	</form>


	<form method="post" action="/retrieve_file" enctype="multipart/form-data">
		
		<label>Enter file hash :</label>
		<br>
		<input type="text" name="file_hash">
		<br>

		<input type="submit" value="Retrieve File">
		
	</form>

</body>
</html>


