
main_server/__pycache__
client_server_1/__pycache__
main_server/.DS_Store
client_server_1/.DS_Store
.DS_Store
main_server/uploads
main_server/downloads
client_server_1/uploads
client_server_1/downloads
