body{
    background-image: url('Abstract-Background-White.jpg');
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.frm-text-design{
    color: white;
    font-family: 'Cinzel', serif;
}

form{
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    background-color: rgba(0,0,0,0.5);
}

.div-upload-image{
    /*padding: 2%;*/
    margin-top: 8%;
    /*margin-bottom: 30%;*/
    background-image: url('main-qimg-2f4400f744df9c5f28544b1d9844904a.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 600px;
    /*background-size: cover;*/
}

.add-file-frm{
    padding: 2%;
    margin-top: 30%;
    margin-bottom: 30%;
    /*height: 40%;*/
}

.col-md-6{
    height: 100vh;
}

.btn-primary{
    width: 100%;
    /*background-color: ##000080 !important;
    color: white !important;*/
}

