<!DOCTYPE html>
	<head>
		<title>GET FILE</title>
		<link rel="stylesheet" type="text/css" href="static/css/handle_file.css">
		<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/vendor/jquery/jquery-3.5.1.js">
		<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/js/bootstrap.min.js">
		<link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 order-2 order-lg-1 receive-image">
					<img src="static/img/receive.png" class="img-fluid animated" alt="">
				</div>
				<div class="col-lg-6 pt-5 pt-lg-0 order-1 order-lg-2 receive-form">
					<form class="get-file-frm" method="post" action="/retrieve_file" enctype="multipart/form-data">
			
						<h3 class="frm-text-design">Get a file </h3>
						
						<br>
		
						<div class="form-group">
						<label class="frm-text-design">Enter key :</label>
						<input type="password" name="file_key" class="form-control">
						</div>				
		
						<div class="form-group">
							<label class="frm-text-design">Enter file hash :</label>
							<input type="text" name="file_hash" class="form-control">
						</div>
						
						<br>
		
						<button type="submit" class="btn btn-primary">Retreive file</button>
				
					</form>
				</div>
			</div>
		</div>
	</body>
</html>


