<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Data Share</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/img/favicon.png" rel="icon">
    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="static/vendor/owl.carousel/static/owl.carousel.min.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="static/css/style.css" rel="stylesheet">
  </head>

  <body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">

        <h1 class="logo mr-auto"><a href="index.html">Data Share</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="#header">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#featured-services">Services</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#contact">Contact</a></li>

          </ul>
        </nav><!-- .nav-menu -->

      </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

      <div class="container">
        <div class="row">
          <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1>Blockchain Based File Sharing</h1>
            <h2> Share files securely using a blockchain network</h2>
            <div class="d-flex">
              <a href="#about" class="btn-get-started scrollto">Get Started</a>
              <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Demo <i class="icofont-play-alt-2"></i></a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <img src="static/img/hero-img.png" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>

    </section><!-- End Hero -->

    <main id="main">

      <!-- ======= Featured Services Section ======= -->

      <section id="featured-services" class="featured-services">
        <div class="container">
          <div class="row">
            <div class="columns col-md-1">
            </div>
            <div class="columns col-md-10">
              <div class="icon-box">
                <div class="icon"><i class="icofont-computer"></i></div>

                <h4 class="title">
                  <a href="{{ url_for('connect_blockchain') }}">Connect to the blockchain</a>
                </h4>
                
                <p class="description">
                  Get connected to the blockchain to start sharing files securely
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- <section id="featured-services" class="featured-services">
        <div class="container">
          <div class="row">
            <div class="columns col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="icofont-computer"></i></div>
                <h4 class="title"><a href="add_file.html">Upload file(s)</a></h4>
                <p class="description">
                  Upload files to the blockchain using a key and generate a unique hash to be shared with the intended recipient
                </p>
              </div>
            </div>
            <div class="columns col-md-6 mt-4 mt-md-0">
              <div class="icon-box">
                <div class="icon"><i class="icofont-image"></i></div>
                <h4 class="title"><a href="get_file.html">Download file(s)</a></h4>
                <p class="description">
                  Download files from the blockchain using the unique hash and the key generated by the uploader
                </p>
              </div>
            </div>
            </div>
          </div>
        </div>
      </section>End Featured Services Section -->

      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">

          <div class="row">
            <div class="col-lg-6">
              <img src="static/img/about.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>About the Application</h3>
              <p>
                <h5>
                  Data Share aims at creating a system where the users can share files securely using a blockchain. Each connected user stores the complete blockchain.
                </h5>
                <br>
                <h4>Why a Blockchain?</h4>
                <ul>
                  <li>Decentralized environment </li>
                  <li>Supply chain data transparency</li>
                  <li>Secure data ledgers due to the sophisticated encryption mecahnisms</li>
                  <li>Data stored on the blockchain can't be deleted or tampered with</li>
                </ul>
              </p>
            </div>
          </div>
          <div class="row content">
            <p>
              <h4>
                  Apart from the blockchain, Data Share also uses the following technologies:
              </h4>
              <ul> 
                <li><h5>IPFS</h5>
                  <ul>
                    <li>
                      IPFS is a peer-to-peer protocol where each node stores a collection of hashed files.
                    </li>
                    <li>
                      Since the blockchain is stored on all the nodes in the network, an increase in the number of files shared, increases the size of the blockchain, making it too heavy.
                    </li>
                    <li>
                      Here comes the role of IPFS. When we upload a file to the IPFS network, it uses SHA256 hashing encryption to generate a unique hash of the file based on the file content.
                    </li>
                    <li>
                      The file gets securely stored on the IPFS network and can be accessed easily using the generated hash.
                    </li>
                    <li>
                      Instead of storing the whole file on the blockchain, we store only the file hash, thereby making the blockchain light and more secure. 
                    </li>
                  </ul>
                </li>

                <li><h5>AES Encryption</h5>
                  <ul>
                    <li>
                      A file on the IPFS network can be accessed using its unique hash. So, anybody with access to the hash can acccess the file, making it prone to brute force attacks.
                    </li>
                    <li>
                      To eliminate this and giving users enhanced security, Data Share asks the uploader for a key. Using the key, it encrypts the file content first and then uploads it to the IPFS network.
                    </li>
                    <li>
                      A key can be anything which the sender wishes to use as his/her password for the file. The sender shares this key with only those people who he/she trusts for the purpose of receiving the file.  
                    </li>
                    <li>
                      To access the file, the recipient needs both the file hash and the key. The key can be shared by the sender using any mode of communication and the file hash gets communicated through the blockchain or the sender.
                    </li>
                  </ul>
                </li>

                <li><h5>Socket Programming</h5>
                  <ul>
                    <li>
                      Using Socket Programming, the blockchain network is set up such that only the people on the blockchain network can view the complete blockchain.
                    </li>
                  </ul>
                </li>

              </ul>
            </p>
          </div>

            <h5><u><a href="#featured-services"> Click Here</a></u> to get started by sharing your first file.</h5>

        </div>
      </section><!-- End About Section -->

      <!-- ======= Team Section ======= -->
      <section id="team" class="team section-bg">
        <div class="container">

          <div class="section-title">
            <span>Team</span>
            <h2>Team</h2>
          </div>

          <div class="row">

            <div class="col-md-4 d-flex align-items-stretch">
              <div class="member">
                <img src="static/img/team/team-1.jpg" alt="">
                <h4>Dr. Shamama Anwar</h4>
                <span>Project Mentor</span>
                <p>
                  We would like to express our gratitude for Dr. Shamama.
                  She cleared our doubts and helped us stay motivated throughout the project duration.
                </p>
                <!-- <div class="social">
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div> -->
              </div>
            </div>

            <div class="col-md-4 d-flex align-items-stretch">
              <div class="member">
                <img src="static/img/team/team-2.jpg" alt="">
                <h4>Ruchika Tulsyan</h4>
                <span>BIT Mesra Semester VIII Student</span>
                <p>
                Data Share aims to focus on the power of decentralization using a blockchain. Adjacent technologies such as IPFS when combined with blockchain create a next level advantage! 
                </p>
                <!-- <div class="social">
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div> -->
              </div>
            </div>

            <div class="col-md-4 d-flex align-items-stretch">
              <div class="member">
                <img src="static/img/team/team-3.jpg" height="310px" alt="">
                <h4>Souvik Saha</h4>
                <span>BIT Mesra Semester VIII Student</span>
                <p>
                  We hope to demonstrate the importance of blockchain through this project! This new emerging technology will revolutionize business processes in many industries.
                </p>
                <!-- <div class="social">
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div> -->
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Team Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">

          <div class="section-title">
            <span>Contact</span>
            <h2>Contact</h2>
            <p>In case of any query or errors, contact us using the details mentioned below:</p>
          </div>

          <div class="row">

            <div class="col-md-4"></div>

            <div class="col-lg-4 d-flex align-items-stretch">
              <div class="info">

                <div class="email">
                  <i class="icofont-envelope"></i>
                  <h4>Email:</h4>
                  <p>be10090.16@bitmesra.ac.in</p>
                </div>

                <div class="phone">
                  <i class="icofont-phone"></i>
                  <h4>Call:</h4>
                  <p>+91 9308079198</p>
                </div>

              </div>

            </div>

          </div>

          <div class="col-md-4"></div>

        </div>
      </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="static/vendor/php-email-form/validate.js"></script>
    <script src="static/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="static/vendor/counterup/counterup.min.js"></script>
    <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/vendor/venobox/venobox.min.js"></script>
    <script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>

    <!-- Template Main JS File -->
    <script src="static/js/main.js"></script>

  </body>

</html>