<!DOCTYPE html>
<head>
	<title>ADD FILE</title>
	<link rel="stylesheet" href="static/css/handle_file.css">
	<link rel="stylesheet" href="static/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/vendor/jquery/jquery-3.5.1.js">
	<link rel="stylesheet" href="static/vendor/bootstrap/js/bootstrap.min.js">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap">
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>

<body>
		
	<form class="file-frm" method="post" action="/add_file" enctype="multipart/form-data">

		<h3>Upload a file </h3>
		<br><br>

		<div class="form-group">
			<label>Sender :</label>
			<input type="text" name="sender_name" class="form-control" placeholder="Sender name">
		</div>
		
		<div class="form-group">
			<label>Receiver :</label>
			<input type="text" name="receiver_name" class="form-control" placeholder="Receiver name">
		</div>
			

		<div class="form-group">
			<label>Enter key :</label>
			<input type="text" name="file_key" class="form-control" placeholder="Your file key">
		</div>				
		<br>
		<div class="form-group file-input">
			<input type="file" name="file" class="">
		</div>
		
		<br>

		<button type="submit" class="send-btn">Submit</button>	  		
	</form>
	
</body>
</html>


