.file-frm{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 4%;
    border: 1px solid #14c871;
    border-radius: 10px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Open Sans", sans-serif;
}

.send-btn{
    width: 100%;
    background-color: #14c871;
    color: white;
    border-radius: 4px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    border: 1px solid #cdd1d9;
}

.send-btn:hover {
    background: #206bfb;
    color: #fff;
    border-color: #206bfb;
}

h3{
    font-family: "Raleway", sans-serif;
    color: #444444;
    text-align: center;
    text-transform: uppercase;
}